<header>Produtos:</header>
<br>
<section id="produtos">
    <section class="produto">
        <img src="img/coxaomole.png">
        <p>Coxão Mole<b class="preco"> R$:44,90</b><a href="#" id="carne" ><i class="fas fa-plus" id="plus"></i></a></p>
    </section>
    <section class="produto">
        <img src="img/coca.png">
        <p>Coca-Cola<b class="preco"> R$:8,99</b><a href="#" id="coca"><i class="fas fa-plus" id="plus"></i></a></p>
    </section>
    <section class="produto">
        <img src="img/arroz.png">
        <p>Arroz<b class="preco">R$:18,99</b><a href="#" id="arroz"><i class="fas fa-plus" id="plus"></i></a></p>
    </section>
    <section class="produto">
        <img src="img/miojo.png">
        <p>Miojo<b class="preco">R$:2,49</b><a href="#" id="miojo"><i class="fas fa-plus" id="plus"></i></a></p>
    </section>
    <section class="produto">
        <img src="img/bis.png">
        <p>Bis<b class="preco">R$:3,99</b><a href="#" id="bis"><i class="fas fa-plus" id="plus"></i></a></p>
    </section>
    <section class="produto">
        <img src="img/papel.png">
        <p>Papel Higiênico<b class="preco">R$:19,99</b><a href="#" id="papel"><i class="fas fa-plus" id="plus"></i></a></p>
    </section>
    <section class="produto">
        <img src="img/detergente.png">
        <p>Detergente<b class="preco">R$:1,99</b><a href="#" id="detergente"><i class="fas fa-plus" id="plus"></i></a></p>
    </section>
    <section class="produto">
        <img src="img/leite.png">
        <p>Leite<b class="preco">R$:2,99</b><a href="#" id="leite"><i class="fas fa-plus" id="plus"></i></a></p>
    </section>
</section>