<header>Produtos:</header>
<br>
<section id="produtos">
    <section class="produto">
        <img src="img/coxaomole.png">
        <p>Coxão Mole<b class="preco"> R$:44,90</b><a href="#" id="carne" ></a></p>
    </section>
    <section class="produto">
        <img src="img/coca.png">
        <p>Coca-Cola<b class="preco"> R$:8,99</b><a href="#" id="coca"></a></p>
    </section>
    <section class="produto">
        <img src="img/arroz.png">
        <p>Arroz<b class="preco">R$:18,99</b><a href="#" id="arroz"></a></p>
    </section>
    <section class="produto">
        <img src="img/miojo.png">
        <p>Miojo<b class="preco">R$:2,49</b><a href="#" id="miojo"></a></p>
    </section>
    <section class="produto">
        <img src="img/bis.png">
        <p>Bis<b class="preco">R$:3,99</b><a href="#" id="bis"></a></p>
    </section>
    <section class="produto">
        <img src="img/papel.png">
        <p>Papel Higiênico<b class="preco">R$:19,99</b><a href="#" id="papel"></a></p>
    </section>
    <section class="produto">
        <img src="img/detergente.png">
        <p>Detergente<b class="preco">R$:1,99</b><a href="#" id="detergente"></a></p>
    </section>
    <section class="produto">
        <img src="img/leite.png">
        <p>Leite<b class="preco">R$:2,99</b><a href="#" id="leite"></a></p>
    </section>
</section>